.section {
    background: $color-main;
}

.txt {
    padding: 0 0 0 100px;
    h2 {
        font-size: 50px;
        font-weight: 500;
        margin: 0 0 16px 0;
        color: #222;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 16px 0;
        color: #414141;
    }

    .me {
        margin: 0 0 16px 0;
        li {
            font-size: 16px;
            font-weight: 400;
            color: #414141;
            line-height: 24px;
        }
    }

    .main_color {
        display: flex;
        gap: 12px;
        margin: 0 0 50px 0;

        li {
            color: transparent;
            position: relative;
        }
    }

    .web {
        font-size: 14px;
        color: $color-main;
        background: $color-white;
        padding: 10px 15px;
        border-radius: 10px;
    }
}

.main_home {
    &::before {
        content: ""; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 5%);
        height: calc(100% - 10%);
        background: transparent;
        border: 1px solid $color-white;
    }

    .inner {
        @include position_center();

        .tit {
            text-align: center;
            z-index: 998;
            color: #222;
            font-family: 'Marck Script', cursive;

            h1 {
                font-size: 120px;
                font-weight: 400;
                line-height: 100px;
                margin: 0 0 60px 0;
                font-family: 'Marck Script', cursive;
                //font-family: 'Nanum Pen Script', cursive;
            }

            p {
                font-size: 50px;
                line-height: 50px;
                font-weight: 500;
                font-family: 'Marck Script', cursive;
            }
        }

        figure {
            @include position_center();
            top: 30%;
            z-index: -1;
        }
    }
}