.main_sk {
    position: relative;

   &::before {
        content: ""; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 5%);
        height: calc(100% - 10%);
        background: transparent;
        border: 1px solid $color-white;
    }

    .inner {
        @include position_center();
        width: 100%;

        .main_color {

            li:nth-child(1)::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #EA002C;
            }

            li:nth-child(2)::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #ffd600;
            }

            li:nth-child(3)::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: #fff;
            }
        }
        
        .pc {
            
            &:hover {
                z-index: 999;
            }

            position: absolute;
            top: 50%;
            right: 10%;
            transform: translate(0, -50%);
            border: 15px solid #111;
            background: #111;
            border-radius: 20px;
            transition: 0.5s;

            
    
            .pc_img {
                width: 650px;
                height: 540px;
                overflow: hidden;
                border-radius: 10px;
        
                background: url(../imges/sk.png)no-repeat top center/cover;
    
                &:hover {
                    animation: scrolldown 5s linear forwards;
                }
                        
                @keyframes scrolldown {
                    0% {
                        background-position: top;
                    }
        
                    100% {
                        background-position: bottom;
                    }
                }
            }
        }
        .moblie {

            position: absolute;
            top: 50%;
            right: 45%;
            //transform: translate(0, -50%);
            border: 10px solid #111;
            background: #111;
            border-radius: 20px;

            display: none;
        
            .moblie_img {
                width: 240px;
                height: 300px;
                overflow: hidden;
                
                border-radius: 10px;
                background: url(../imges/bluestone_moblie.png)no-repeat top center/cover;
        
                &:hover {
                    animation: scrolldown 8s linear forwards;
                }
            }
        }    
    }
}