.main_stone {
    position: relative;

   &::before {
        content: ""; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 5%);
        height: calc(100% - 10%);
        background: transparent;
        border: 1px solid $color-white;
    }

    .inner {
        @include position_center();
        width: 100%;
        
        .pc {
            
            &:hover {
                z-index: 999;
            }

            position: absolute;
            top: 50%;
            right: 10%;
            transform: translate(0, -50%);
            border: 15px solid #fff;
            border-radius: 10px;
            transition: 0.5s;

            
    
            .pc_img {
                width: 650px;
                height: 540px;
                overflow: hidden;
        
                background: url(../imges/bluestone.png)no-repeat top center/cover;
    
                &:hover {
                    animation: scrolldown 5s linear forwards;
                }
                        
                @keyframes scrolldown {
                    0% {
                        background-position: top;
                    }
        
                    100% {
                        background-position: bottom;
                    }
                }
            }
        }
        .moblie {

            position: absolute;
            top: 100%;
            right: 45%;
            //transform: translate(0, -50%);
            border: 10px solid #fff;
            border-radius: 10px;
        
            .moblie_img {
                width: 240px;
                height: 300px;
                overflow: hidden;
        
                background: url(../imges/bluestone_moblie.png)no-repeat top center/cover;
        
                &:hover {
                    animation: scrolldown 8s linear forwards;
                }
            }
        }    
    }
}