$size-pc : 1400px;
$size-gap : 30px;

@mixin position_center () {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin boder_white () {
    content: ""; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 5%);
    height: calc(100% - 10%);
    background: transparent;
    border: 1px solid $color-white;
}