@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  word-break: keep-all;
  font-family: "Noto Sans", "Noto Sans KR", "Roboto", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.section {
  background: #FF8E8E;
}

.txt {
  padding: 0 0 0 100px;
}
.txt h2 {
  font-size: 50px;
  font-weight: 500;
  margin: 0 0 16px 0;
  color: #222;
}
.txt p {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 16px 0;
  color: #414141;
}
.txt .me {
  margin: 0 0 16px 0;
}
.txt .me li {
  font-size: 16px;
  font-weight: 400;
  color: #414141;
  line-height: 24px;
}
.txt .main_color {
  display: flex;
  gap: 12px;
  margin: 0 0 50px 0;
}
.txt .main_color li {
  color: transparent;
  position: relative;
}
.txt .web {
  font-size: 14px;
  color: #FF8E8E;
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
}

.main_home::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  background: transparent;
  border: 1px solid #ffffff;
}
.main_home .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_home .inner .tit {
  text-align: center;
  z-index: 998;
  color: #222;
  font-family: "Marck Script", cursive;
}
.main_home .inner .tit h1 {
  font-size: 120px;
  font-weight: 400;
  line-height: 100px;
  margin: 0 0 60px 0;
  font-family: "Marck Script", cursive;
}
.main_home .inner .tit p {
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  font-family: "Marck Script", cursive;
}
.main_home .inner figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 30%;
  z-index: -1;
}

.main_moving {
  position: relative;
}
.main_moving::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  background: transparent;
  border: 1px solid #ffffff;
}
.main_moving .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main_moving .inner .main_color li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #995f35;
}
.main_moving .inner .main_color li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f7b83d;
}
.main_moving .inner .pc {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  border: 15px solid #111;
  background: #111;
  border-radius: 20px;
  transition: 0.5s;
}
.main_moving .inner .pc:hover {
  z-index: 999;
}
.main_moving .inner .pc .pc_img {
  width: 650px;
  height: 540px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/movingegg.png) no-repeat top center/cover;
}
.main_moving .inner .pc .pc_img:hover {
  animation: scrolldown 1s linear forwards;
}
@keyframes scrolldown {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
.main_moving .inner .moblie {
  position: absolute;
  top: 50%;
  right: 45%;
  border: 10px solid #111;
  background: #111;
  border-radius: 20px;
}
.main_moving .inner .moblie .moblie_img {
  width: 240px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/movingegg_moblie.png) no-repeat top center/cover;
}
.main_moving .inner .moblie .moblie_img:hover {
  animation: scrolldown 5s linear forwards;
}

.main_sajo {
  position: relative;
}
.main_sajo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  background: transparent;
  border: 1px solid #ffffff;
}
.main_sajo .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main_sajo .inner .box .txt .main_color li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #002e6a;
}
.main_sajo .inner .box .txt .main_color li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #1864b2;
}
.main_sajo .inner .box .txt .main_color li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f72a66;
}
.main_sajo .inner .pc {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  border: 15px solid #111;
  background: #111;
  border-radius: 20px;
  transition: 0.5s;
}
.main_sajo .inner .pc:hover {
  z-index: 999;
}
.main_sajo .inner .pc .pc_img {
  width: 650px;
  height: 540px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/sajotuna.png) no-repeat top center/cover;
}
.main_sajo .inner .pc .pc_img:hover {
  animation: scrolldown 5s linear forwards;
}
@keyframes scrolldown {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
.main_sajo .inner .moblie {
  position: absolute;
  top: 50%;
  right: 45%;
  border: 10px solid #111;
  background: #111;
  border-radius: 20px;
}
.main_sajo .inner .moblie .moblie_img {
  width: 240px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/sajotuna_moblie.png) no-repeat top center/cover;
}
.main_sajo .inner .moblie .moblie_img:hover {
  animation: scrolldown 8s linear forwards;
}

.main_shinil {
  position: relative;
}
.main_shinil::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  background: transparent;
  border: 1px solid #ffffff;
}
.main_shinil .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main_shinil .inner .main_color li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ed2024;
}
.main_shinil .inner .pc {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  border: 15px solid #111;
  background: #111;
  border-radius: 20px;
  transition: 0.5s;
}
.main_shinil .inner .pc:hover {
  z-index: 999;
}
.main_shinil .inner .pc .pc_img {
  width: 650px;
  height: 540px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/shinil.png) no-repeat top center/cover;
}
.main_shinil .inner .pc .pc_img:hover {
  animation: scrolldown 5s linear forwards;
}
@keyframes scrolldown {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
.main_shinil .inner .moblie {
  position: absolute;
  top: 50%;
  right: 45%;
  border: 10px solid #111;
  background: #111;
  border-radius: 20px;
  display: none;
}
.main_shinil .inner .moblie .moblie_img {
  width: 240px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/bluestone_moblie.png) no-repeat top center/cover;
}
.main_shinil .inner .moblie .moblie_img:hover {
  animation: scrolldown 8s linear forwards;
}

.main_stone {
  position: relative;
}
.main_stone::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  background: transparent;
  border: 1px solid #ffffff;
}
.main_stone .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main_stone .inner .main_color li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #035ac7;
}
.main_stone .inner .main_color li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #01babd;
}
.main_stone .inner .main_color li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f2c81f;
}
.main_stone .inner .pc {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  border: 15px solid #111;
  background: #111;
  border-radius: 20px;
  transition: 0.5s;
}
.main_stone .inner .pc:hover {
  z-index: 999;
}
.main_stone .inner .pc .pc_img {
  width: 650px;
  height: 540px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/bluestone.png) no-repeat top center/cover;
}
.main_stone .inner .pc .pc_img:hover {
  animation: scrolldown 5s linear infinite;
}
@keyframes scrolldown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.main_stone .inner .moblie {
  position: absolute;
  top: 50%;
  right: 45%;
  border: 10px solid #111;
  background: #111;
  border-radius: 20px;
}
.main_stone .inner .moblie .moblie_img {
  width: 240px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/bluestone_moblie.png) no-repeat top center/cover;
}
.main_stone .inner .moblie .moblie_img:hover {
  animation: scrolldown 8s linear forwards;
}

.main_sk {
  position: relative;
}
.main_sk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  background: transparent;
  border: 1px solid #ffffff;
}
.main_sk .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main_sk .inner .main_color li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #EA002C;
}
.main_sk .inner .main_color li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffd600;
}
.main_sk .inner .main_color li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
}
.main_sk .inner .pc {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  border: 15px solid #111;
  background: #111;
  border-radius: 20px;
  transition: 0.5s;
}
.main_sk .inner .pc:hover {
  z-index: 999;
}
.main_sk .inner .pc .pc_img {
  width: 650px;
  height: 540px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/sk.png) no-repeat top center/cover;
}
.main_sk .inner .pc .pc_img:hover {
  animation: scrolldown 5s linear forwards;
}
@keyframes scrolldown {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
.main_sk .inner .moblie {
  position: absolute;
  top: 50%;
  right: 45%;
  border: 10px solid #111;
  background: #111;
  border-radius: 20px;
  display: none;
}
.main_sk .inner .moblie .moblie_img {
  width: 240px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/bluestone_moblie.png) no-repeat top center/cover;
}
.main_sk .inner .moblie .moblie_img:hover {
  animation: scrolldown 8s linear forwards;
}

.main_play {
  position: relative;
}
.main_play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 90%;
  background: transparent;
  border: 1px solid #ffffff;
}
.main_play .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main_play .inner .box .txt .main_color li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #002e6a;
}
.main_play .inner .box .txt .main_color li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #1864b2;
}
.main_play .inner .box .txt .main_color li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f72a66;
}
.main_play .inner .pc {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  border: 15px solid #111;
  background: #111;
  border-radius: 20px;
  transition: 0.5s;
}
.main_play .inner .pc:hover {
  z-index: 999;
}
.main_play .inner .pc .pc_img {
  width: 650px;
  height: 540px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/playstation.png) no-repeat top center/cover;
}
.main_play .inner .pc .pc_img:hover {
  animation: scrolldown 5s linear forwards;
}
@keyframes scrolldown {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
.main_play .inner .moblie {
  display: none;
  position: absolute;
  top: 50%;
  right: 45%;
  border: 10px solid #111;
  background: #111;
  border-radius: 20px;
}
.main_play .inner .moblie .moblie_img {
  width: 240px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../imges/sajotuna_moblie.png) no-repeat top center/cover;
}
.main_play .inner .moblie .moblie_img:hover {
  animation: scrolldown 8s linear forwards;
}/*# sourceMappingURL=kimjiwon.css.map */